In [4]:
import pandas as pd

### 01 Series

In [5]:
# pandas 시리즈 : 1차원 배열의 값(values)에 각 값에 대응되는 index를 부여할 수 있는 구조

sr = pd.Series([17000, 18000, 1000, 5000], index = ["피자", "치킨", "콜라", "맥주"])

print("시리즈 출력 : ")
print("-" * 15)
print(sr)

시리즈 출력 :
---------------
피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [6]:
print("시리즈의 값 : {}".format(sr.values))
print("시리즈의 인덱스 : {}".format(sr.index))

print(f"시리즈의 값 : {sr.values}")
print(f"시리즈의 인덱스 : {sr.index}")

시리즈의 값 : [17000 18000  1000  5000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')
시리즈의 값 : [17000 18000  1000  5000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

### 02 DataFrame

In [7]:
# 데이터프레임은 2차원 리스트를 매개변수로 전달.
# 행방향 index와 열방향 columns가 존재한다.

values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ["one", "two", "three"] # row
column = ['A', 'B', 'C']

df = pd.DataFrame(values, index = index, columns = column)

print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [8]:
print(f"데이터프레임의 인덱스 : {df.index}")
print(f"데이터프레임의 열이름 : {df.columns}")
print("데이터프레임의 값 : ")
print('-' * 15)
print(df.values)

데이터프레임의 인덱스 : Index(['one', 'two', 'three'], dtype='object')
데이터프레임의 열이름 : Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 값 :
---------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

### 03 DataFrame 생성

In [9]:
# 리스트로 생성하기

data = [
    ["1000", "Steve", 90.72],
    ["1001", "James", 78.09],
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]

df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [10]:
# columns로 column 이름 지정 가능

df = pd.DataFrame(data, columns = ["학번", "이름", "점수"])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [11]:
# 딕셔너리로 생성하기
# data {col : [value1, value2, ...], index = 열번호}

data = {
    '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
    '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
    }

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

### 04 DataFrame 조회하기

In [12]:
# 앞 부분 3개 보기
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [13]:
# 뒷 부분 3개 보기
print(df.tail(3))

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [14]:
# '학번'에 해당하는 열 보기
print(df["학번"])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

### 05 외부 데이터 읽기

In [20]:
df = pd.read_csv("example.csv")
print(df)

   student_id     name  score
0        1000    Steve  90.00
1        1001    James  28.00
2        1002   Doyeon  98.00
3        1003     Jane  64.19
4        1004  Piwoong  81.30
5        1005     Tony  99.00

In [22]:
df.index # 인덱스 자동 생성

RangeIndex(start=0, stop=6, step=1)