### 01 데이터 로드

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drink_df = pd.read_csv(url, ',')

c:\Users\Noh\anaconda3\envs\finance_data\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
type(drink_df)

pandas.core.frame.DataFrame

In [3]:
drink_df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### 02 데이터프레임의 출력

In [ ]:
# head() 기본 상위 5행 출력
drink_df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [6]:
# 상위 10개의 행을 출력
drink_df.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [7]:
# tail() 기본 하위 5개의 행을 출력
drink_df.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [8]:
# 하위 10개의 행을 출력
drink_df.tail(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [19]:
# 랜덤으로 선택된 10개의 행을 출력
drink_df.sample(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
7,Armenia,21,179,11,3.8,EU
169,Thailand,99,258,1,6.4,AS
16,Belgium,295,84,212,10.5,EU
130,Panama,285,104,18,7.2,NaN
42,Croatia,230,87,254,10.2,EU
3,Andorra,245,138,312,12.4,EU
108,Mauritius,98,31,18,2.6,AF
148,Sao Tome & Principe,56,38,140,4.2,AF
153,Sierra Leone,25,3,2,6.7,AF
181,United Arab Emirates,16,135,5,2.8,AS

### 03 데이터프레임의 인덱스

In [20]:
# 인덱스의 범위 확인
drink_df.index

RangeIndex(start=0, stop=193, step=1)

### 04 데이터프레임의 데이터타입

In [ ]:
drink_df.dtypes

# object : 문자열, int64 : 정수형, float64 : 실수형

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

### 05 데이터프레임의 크기

In [22]:
drink_df.shape

(193, 6)

### 06 데이터프레임의 행렬 변환

In [ ]:
# 데이터프레임을 Numpy 행렬로 변환 출력
drink_df.values

array([['Afghanistan', 0, 0, 0, 0.0, 'AS'],
       ['Albania', 89, 132, 54, 4.9, 'EU'],
       ['Algeria', 25, 0, 14, 0.7, 'AF'],
       ...,
       ['Yemen', 6, 0, 0, 0.1, 'AS'],
       ['Zambia', 32, 19, 4, 2.5, 'AF'],
       ['Zimbabwe', 64, 18, 4, 4.7, 'AF']], dtype=object)

In [25]:
type(drink_df.values)

numpy.ndarray

In [27]:
# numpy행렬 첫번째 행 출력
drink_df.values [0]

array(['Afghanistan', 0, 0, 0, 0.0, 'AS'], dtype=object)

In [ ]:
for element in drink_df.values[0]:
    print(element)

Afghanistan
0
0
0
0.0
AS

### 07 데이터프레임의 info

In [29]:
drink_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

### 08 데이터프레임의 결측값(Null)

In [31]:
# null값이 총 몇개인지
print(drink_df.isnull().sum())

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64